<h1>Редактирование станции</h1>

<div class="row">
  <div class="col-md-3">

		<%= render 'form', station: @railway_station %>

		<%= link_to 'Показать', [:admin, @railway_station] %> /
		<%= link_to 'Назад', admin_railway_stations_path %>	
	</div>
</div>