<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
  <% if @route.trains.empty? %>
    <p>Поездов нет</p>
  <% else %>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <%end%>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> 
<%= link_to 'Back', routes_path %>